@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

div {
  display: flex;
  align-items: center;
  color: #1a4a2e;
  background: linear-gradient(135deg, coral, #FF6347);
  height: 95px;
  padding: 10px;
  margin: 30px 0 0 0;
  border-radius: 20px;
  box-shadow: 0px 2px 8px gray;
}

.tux-png {
  margin: 0 15px 0 0;
  width: 90px;
}

h1 {
  font-family: "Playwrite GB J", cursive;
}

p {
  font-family: "Black Ops One", system-ui;
  gap: 10px;
  padding: 10px;
}
